* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.day {
    height: 100vh;
    background-image: url(../img/day_time.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container.night {
    height: 100vh;
    background-image: url(../img/night_time.jpg);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.inputTemp {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.4;
}

.select {
    width: 100%;
    padding: 0.5rem;
    border-radius: .5rem;
}

.inputTemp_number {
    display: flex;
    align-items: center;
}

.inputTemp_celcius {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 4rem;
}

.inputTemp_symbol {
    font-size: 3rem;
    color: white;
}